<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Coding Challenge Project">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <title>Coding Challenge · {% block title %}{% endblock %}</title>
    {% block stylesheets %}

    {% endblock %}

</head>
<body>


{% if (is_granted('ROLE_USER') and 'app_login' != app.request.attributes.get('_route')) %}

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">Coding Challenge</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {{ 'nearby-shops' == app.request.attributes.get('_route') ?"active":"" }}">
                    <a class="nav-link" href="{{ path('nearby-shops') }}">Nearby Shops</a>
                </li>
                <li class="nav-item {{ 'preferred-shops' == app.request.attributes.get('_route') ?"active":"" }}">
                    <a class="nav-link" href="{{ path('preferred-shops') }}">My Preferred Shops</a>
                </li>


            </ul>
            <a class="btn btn btn-outline-danger" href="{{ logout_path('main') }}">Sign out</a>
        </div>
    </nav>

{% endif %}


<main role="main" class="container">
    {% block body %}{% endblock %}

    <div id="map"></div>
</main>


{% block javascripts %}

{% endblock %}


{% verbatim %}
<script id="shop-template" type="text/x-handlebars-template">

<div id="div_shop_{{shopId}}" class="col-md-4">
    <figure class="card card-product">
        <div class="img-wrap"><img alt="{{ title }}" class="pic-1" src="{{ image }}"></div>
        <figcaption class="info-wrap min-height-180">
        <h4 class="title">{{ title }}</h4>
        <p class="desc bottom-align-text min-height-50"><i class="fa fa-map-marker"></i> {{ address }}</p>
        </figcaption>
        <div class="bottom-wrap">
            <button id="btnLike_{{ shopId }}" type="button" class="btn btn-labeled btn-success"><span class="btn-label"><i
                            class="fa fa-heart"></i></span>Like
            </button>
            <button id="btnDislike_{{ shopId }}" type="button" class="btn btn-labeled btn-danger"><span
                        class="btn-label"><i class="fa fa-times"></i></span>Dislike
            </button>
        </div>
    </figure>
</div>

</script>


<script id="row-template" type="text/x-handlebars-template">
<div class="row" id="{{row-id}}"></div>
</script>
{% endverbatim %}


</body>
</html>
